[submodule "debian/formulas/apache-formula"]
	path = debian/formulas/apache-formula
	url = https://github.com/saltstack-formulas/apache-formula.git
[submodule "debian/formulas/drupal-formula"]
	path = debian/formulas/drupal-formula
	url = https://github.com/saltstack-formulas/drupal-formula.git
[submodule "debian/formulas/php-formula"]
	path = debian/formulas/php-formula
	url = https://github.com/saltstack-formulas/php-formula.git
[submodule "debian/formulas/mysql-formula"]
	path = debian/formulas/mysql-formula
	url = https://github.com/saltstack-formulas/mysql-formula.git
[submodule "debian/formulas/hostsfile-formula"]
	path = debian/formulas/hostsfile-formula
	url = https://github.com/saltstack-formulas/hostsfile-formula.git
